:root {
  --cryptch-turquoise: rgb(0, 145, 135);
  --cryptch-blue: rgb(0, 161, 243);
  --cryptch-white: rgb(255, 255, 255);
  --cryptch-darkwhite: #d0d0d2;
  --cryptch-grey: #3d4047;
  --morphism-background: #edeef7;
  --shadow: #969696;
  --cryptch-darkblue: rgb(28, 31, 40);
  --cryptch-success: #2fba2f;
  --cryptch-danger: #c82333;
  --cryptch-warning: #fcb503;
  --cryptch-background: #edeef7;
  --primary-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --primary-font-size: 16px;
  --cryptch-button-hover: rgb(1, 119, 180);
  --cryptch-danger-button-hover: #951522;
  --cryptch-success-button-hover: #47971a;
  --cryptch-warning-button-hover: #d98b04;
  --cryptch-grey-button-hover: #b7b7b8;
  --cryptch-turquoise-hover: rgb(1, 108, 102);
}

html {

}

body {
  margin: 0;
  font-family: var(--primary-font-family);
  font-size: 1rem;
  color: var(--cryptch-darkblue);
}
/* Container */
.crypt-container {
  width: 100%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

@media (min-width: 576px) {
  .crypt-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .crypt-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .crypt-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .crypt-container {
    max-width: 1140px;
  }
}

/* Row */
.crypt-row {
  display: flex;
  flex-wrap: wrap;
}

/* Inputs types */
input[type=text],
input[type=password],
button {
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem 0.3rem;
  font-size: 1rem;
  box-shadow:
          1px 1px 2px var(--shadow),
          -1px -1px 2px var(--cryptch-darkwhite);
}

input[type=text]:focus,
input[type=password]:focus{
  box-shadow:
          1px 1px 2px var(--cryptch-blue),
          -1px -1px 2px var(--cryptch-turquoise);
}

.crypt-checkbox {
  display: none;
}

.crypt-checkbox + label {
  width: 3rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: var(--cryptch-darkwhite);
  box-shadow: 1px 1px 2px 1px var(--shadow);
  display: block;
  float: left;
  transition: background-color 0.3s linear;
  content: "";
}

.crypt-checkbox + label:hover {
  cursor: pointer;
}

.crypt-checkbox + label::before {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background-color: #fff;
  display: block;
  content: "";
  float: left;
  transition: margin 0.2s linear;
  box-shadow: 1px 1px 2px 1px var(--shadow);
}

.crypt-checkbox:checked+label{
  background-color: var(--cryptch-blue);
}

.crypt-checkbox:checked+label::before {
  margin: 0 0 0 1.5rem;
}

/* Buttons */
button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: var(--cryptch-white);
  background-color: var(--cryptch-blue);
  transition: background-color 0.25s ease;
}

button:hover {
  background-color: var(--cryptch-button-hover);
}

button.disabled:hover {
  background-color: var(--cryptch-blue);
}

button.danger {
  background-color: var(--cryptch-danger);
}

button.danger.disabled:hover {
  background-color: var(--cryptch-danger);
}

button.danger:hover {
  background-color: var(--cryptch-danger-button-hover);
}

button.success {
  background-color: var(--cryptch-success);
}

button.success.disabled:hover {
  background-color: var(--cryptch-success);
}

button.success:hover {
  background-color: var(--cryptch-success-button-hover);
}

button.warning {
  background-color: var(--cryptch-warning);
  color: var(--cryptch-darkblue);
}

button.warning.disabled:hover {
  background-color: var(--cryptch-warning);
  color: var(--cryptch-darkblue);
}

button.warning:hover {
  background-color: var(--cryptch-warning-button-hover);
}

button.grey {
  background-color: var(--cryptch-darkwhite);
  color: var(--cryptch-darkblue);
}

button.grey.disabled:hover {
  background-color: var(--cryptch-darkwhite);
  color: var(--cryptch-darkblue);
}

button.grey:hover {
  background-color: var(--cryptch-grey-button-hover);
}

button.disabled {
  opacity: 0.35;
}

/* Navbar */
.navbar {
  background-color: var(--cryptch-white);
  box-shadow: 0.25rem 0.25rem 0.3rem var(--cryptch-darkblue);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navbar.crypt-turquoise {
  background: var(--cryptch-turquoise);
  color: var(--cryptch-white);
}

.navbar.crypt-blue-gradient  {
  background: linear-gradient(170deg, var(--cryptch-turquoise) 0%, var(--cryptch-blue) 100%);
  color: var(--cryptch-white);
}

.navbar .logo {
  float: left;
  display: block;
  font-size: 1.8rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  user-select: none;
}

.navbar .nav-btn {
  display: none;
}

.navbar .nav-btn:checked ~ .menu {
  max-height: 400px;
}

.navbar .nav-btn:checked ~ .nav-icon .menu-icon {
  background: transparent;
}

.navbar .nav-btn:checked ~ .nav-icon .menu-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.navbar .nav-btn:checked ~ .nav-icon .menu-icon:after {
  transform: rotate(45deg);
  top: 0;
}

.navbar .nav-icon {
  padding: 1.5rem 1rem;
  position: relative;
  float: right;
  cursor: pointer;
}

.navbar .nav-icon .menu-icon {
  background: var(--cryptch-darkblue);
  display: block;
  height: 2px;
  width: 1rem;
  position: relative;
  transition: background 0.4s ease-out;
  border-radius: 1px;
}

.navbar.crypt-turquoise .nav-icon .menu-icon,
.navbar.crypt-blue-gradient .nav-icon .menu-icon{
  background: var(--cryptch-white);
}

.navbar .nav-icon .menu-icon:before, .navbar .nav-icon .menu-icon:after {
  background: var(--cryptch-darkblue);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.3s ease-out;
  border-radius: 1px;
}

.navbar.crypt-turquoise .nav-icon .menu-icon:before, .navbar.crypt-turquoise .nav-icon .menu-icon:after,
.navbar.crypt-blue-gradient .nav-icon .menu-icon:before, .navbar.crypt-blue-gradient .nav-icon .menu-icon:after {
  background: var(--cryptch-white);
}

.navbar .nav-icon .menu-icon:before {
  top: 6px;
}

.navbar .nav-icon .menu-icon:after {
  top: -6px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  clear: both;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.navbar ul a {
  display: block;
  text-align: center;
  padding: 1rem;
  user-select: none;
  box-shadow:
          1px 1px 2px var(--cryptch-darkblue)
}

.navbar ul a:hover {
  text-decoration: none;
  background-color: var(--cryptch-darkwhite);
  cursor: pointer;
}

.navbar.crypt-turquoise ul a:hover {
  text-decoration: none;
  background-color: var(--cryptch-turquoise-hover);
  cursor: pointer;
}

.navbar.crypt-blue-gradient ul a:hover {
  text-decoration: none;
  background: linear-gradient(270deg, var(--cryptch-turquoise-hover) 0%, var(--cryptch-button-hover) 100%);;
  cursor: pointer;
}

.navbar .nav-search {
  display: none;
}

@media (min-width: 805px) {
  .navbar .logo {
    float: left;
    display: block;
    margin-left: 1rem;
    font-size: 1.8rem;
    padding: 0.4rem 1rem;
  }

  .navbar .nav-search {
    display: inherit;
    float: right;
    margin: 0.6rem 2rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-shadow:
            1px 1px 2px var(--cryptch-darkblue),
            -1px -1px 2px var(--cryptch-white);
  }

  .navbar .nav-search:focus {
    box-shadow:
            1px 1px 2px var(--cryptch-darkblue),
            -1px -1px 2px var(--cryptch-white);
  }

  .navbar.crypt-blue-gradient ul a:hover {
    text-decoration: none;
    background: inherit;
    color: inherit;
    cursor: pointer;
  }

  .navbar.crypt-turquoise ul a:hover {
    text-decoration: none;
    background-color: inherit !important;
    color: inherit;
  }

  .navbar {
    float: left;
  }

  .navbar ul {
    margin-right: auto;
  }

  .navbar li {
    float: left;
  }
  .navbar li a {
    margin: 0.5rem 1rem;
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    box-shadow:
            1px 1px 2px var(--cryptch-darkblue),
            -1px -1px 2px var(--cryptch-white);
    user-select: none;
  }


  .navbar li a:hover {
    text-decoration: none;
    background-color: var(--cryptch-white);
    color: inherit;
  }

  .navbar li a:active {
    box-shadow:
            inset 1px 1px 2px var(--cryptch-darkblue),
            inset -1px -1px 2px var(--cryptch-white);
  }

  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .navbar .nav-icon {
    display: none;
  }
}

/* Sidebar */
.sidenav {
  background-color: var(--cryptch-white);
  box-shadow: 0.25rem 0.25rem 0.3rem var(--cryptch-darkblue);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  top: 0;
  height: 100%;
  position: fixed;
}

.sidenav.crypt-turquoise {
  background: var(--cryptch-turquoise);
  color: var(--cryptch-white);
}

.sidenav.crypt-blue-gradient  {
  background: linear-gradient(170deg, var(--cryptch-turquoise) 0%, var(--cryptch-blue) 100%);
  color: var(--cryptch-white);
}

.sidenav .nav-btn {
  display: none;
}

.sidenav .nav-btn:checked ~ .menu {
  max-width: 18rem;
}

.sidenav .nav-btn:checked ~ .nav-icon .menu-icon {
  background: transparent;
}

.sidenav .nav-btn:checked ~ .nav-icon .menu-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.sidenav .nav-btn:checked ~ .nav-icon .menu-icon:after {
  transform: rotate(45deg);
  top: 0;
}

.sidenav .nav-icon {
  padding: 1.5rem 1rem;
  position: relative;
  float: right;
  cursor: pointer;
}

.sidenav .nav-icon .menu-icon {
  background: var(--cryptch-darkblue);
  display: block;
  height: 2px;
  width: 1rem;
  position: relative;
  transition: background 0.4s ease-out;
  border-radius: 1px;
}

.sidenav .nav-icon .menu-icon:before, .sidenav .nav-icon .menu-icon:after {
  background: var(--cryptch-darkblue);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.3s ease-out;
  border-radius: 1px;
}

.sidenav.crypt-turquoise .nav-icon .menu-icon,
.sidenav.crypt-blue-gradient .nav-icon .menu-icon{
  background: var(--cryptch-white);
}

.sidenav.crypt-turquoise .nav-icon .menu-icon:before, .sidenav.crypt-turquoise .nav-icon .menu-icon:after,
.sidenav.crypt-blue-gradient .nav-icon .menu-icon:before, .sidenav.crypt-blue-gradient .nav-icon .menu-icon:after {
  background: var(--cryptch-white);
}

.sidenav .nav-icon .menu-icon:before {
  top: 6px;
}

.sidenav .nav-icon .menu-icon:after {
  top: -6px;
}

.sidenav ul {
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  clear: both;
  max-width: 0;
  transition: max-width 0.3s linear;
}

.sidenav ul a {
  display: block;
  text-align: right;
  padding: 1rem 2.3rem;
  user-select: none;
  box-shadow:
          1px 1px 2px var(--cryptch-darkblue)
}

.sidenav ul a:hover {
  text-decoration: none;
  background-color: var(--cryptch-darkwhite);
  cursor: pointer;
}

.sidenav.crypt-turquoise ul a:hover {
  text-decoration: none;
  background-color: var(--cryptch-turquoise-hover);
  cursor: pointer;
}

.sidenav.crypt-blue-gradient ul a:hover {
  text-decoration: none;
  background: linear-gradient(270deg, var(--cryptch-turquoise-hover) 0%, var(--cryptch-button-hover) 100%);;
  cursor: pointer;
}

.sidenav.crypt-blue-gradient ul a:hover {
  text-decoration: none;
  color: var(--cryptch-white);
  cursor: pointer;
}

.sidenav .nav-search {
  display: none;
}



